[user]
	name = 7ma7X
	email = hellorusk1998@gmail.com
	signingkey = 1C480362B31AB3399FA52A81DB77240577E1FDA7

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[commit]
	gpgsign = true

[gpg]
	program = /usr/local/bin/gpg
	
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
