[user]
	name = HelloRusk
	email = hellorusk1998@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[gpg]
	program = /usr/local/bin/gpg
	
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[alias]
	tree = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[init]
	defaultBranch = main
